* {
    border: 1px solid black;
}

/* html, body, h1, p {
    padding: 0px;
    margin: 0px;
} */

h1 {
    height: 100px;
    padding: 20px;
    margin-bottom: 30px;
    border-width: 5px;
    border-bottom: 10px dashed red;
    /* border영역으로 제한 */
    /* box-sizing: border-box;  */
}

p {
    /* margin은 중첩됨 */
    margin-top: 30px;
}

.container{
    background-color: red;   
}

.container_item{
    display: inline-block;
}