body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 2px solid;
    font-size: 15px;
    font-weight: 500;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: #00488b;
    padding-bottom: 5px;
    border-bottom: 1px solid;
}

p {
    font-size: 17px;
    text-align: justify;
}

h2 {
    font-size: 22px;
}

ul {
    padding-left: 30px;
}

#title {
    font-weight: 600;
    font-size: 17px;
    color: grey;
}

.email, .web_link {
    color: orangered;
}