.about {
    padding: 2rem;
    width: 800px;
    
}

.about .Info2 {
    display: flex;
    width: 100%;
}

.about .Info2 .left {
    max-width: 50%;
    float: left;

}

.about .Info2 .left img {
    width: 100%;
}

.about .Info2 .right {
    width: 50%;
    float: left;
    text-align: justify;
}

.title h3 {
    color: red;
    text-align: left;
}

.title h2 {
    text-align: left;
}

@media screen and (max-width:500px){
    .about .Info2 .left {
        max-width: 100%;
        /* float: left; */
    
    }

    .about .Info2 .right {
        width: 100%;
        /* float: left; */
    }
    
}